.cvku{
	width:2000px;
	height:350px;
	overflow-y: hidden;
	
}

.potoquw{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: 500px;
	margin: 0 auto;
	
}

.aboutme{
	height: 100px;
	width: 700px;
	margin: 0 auto;
	text-align: justify;
}


